<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exercicio de Vue-Js 4</title>
  </head>
  <body id="Fundo">
    <div id="app">
      <h1>Aluno: {{nome}}</h1>
      <h2 v-if="status">Matricula: Matriculado</h2>
      <h2 v-if="!status">Matricula: Não matriculado</h2>
      <p>Nota 1: {{nota1}}
      <br>Nota 2: {{nota2}}
      <br>Média final: {{calcularMedia}}
      <h3 v-if="calcularMedia>=9">Média: A</h3>
      <h3 v-else-if="calcularMedia>=8">Média: B</h3>
      <h3 v-else-if="calcularMedia>=6">Média: C</h3>
      <h3 v-else="calcularMedia>=0">Média: D</h3>
     </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="main.js"></script>
  </body>
</html>
